{% extends "layout/main.html.twig" %}

{% block content %}
    <div>
        <form action="/todo/save/{{ todo.id }}" method="post" novalidate enctype="multipart/form-data" >
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" value="{{ todo.user_name }}" name="Todo[user_name]" placeholder="User name" required>
                    {% if errors['user_name'] is defined %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors['user_name'] }}
                        </div>
                    {% endif %}
                </div>
                <div class="col">
                    <input type="text" class="form-control" value="{{ todo.email }}" name="Todo[email]" placeholder="email" required>
                    {% if errors['email'] is defined %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors['email'] }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <textarea name="Todo[text]" id="text" class="form-control" placeholder="Task text" required>{{ todo.text }}</textarea>
                    {% if errors['text'] is defined %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors['text'] }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <label class="custom-file">
                        <input type="file" id="photo" name="Todo[photo]" class="custom-file-input" required>
                        <input type="hidden" name="Todo[photo]" value="{{ todo.photo }}">
                        <span class="custom-file-control"></span>
                    </label>
                    <img src="/uploads/{{ todo.photo }}" width="130px" alt="">
                    {% if errors['photo'] is defined %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors['photo'] }}
                        </div>
                    {% endif %}
                </div>
                <div class="col">
                    <label for="checked">checked</label>
                    <input type="checkbox" {% if todo.checked %}checked{% endif %} value="1" name="Todo[checked]">
                </div>
                <div class="col">
                    <input type="submit" value="Save" class="btn btn-primary btn-block">
                </div>
            </div>
        </form>
    </div>
{% endblock %}