{% extends "layout/main.html.twig" %}

{% block content %}
    <h1>LisTS</h1>
    <div>
        <table class="table table-inverse table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>
                    <a href="/?sort[user_name]=desc"><img src="http://findicons.com/files/icons/977/rrze/22/sort_down.png" alt=""></a>
                    <a href="/?sort[user_name]=asc"><img src="http://findicons.com/files/icons/977/rrze/22/sort_up.png" alt=""></a>
                    <hr>
                    Name
                </th>
                <th><a href="/?sort[email]=desc"><img src="http://findicons.com/files/icons/977/rrze/22/sort_down.png" alt=""></a>
                    <a href="/?sort[email]=asc"><img src="http://findicons.com/files/icons/977/rrze/22/sort_up.png" alt=""></a>
                    <hr>
                    Email
                </th>
                <th>Text</th>
                <th>photo</th>
                <th>
                    <a href="/?sort[checked]=desc"><img src="http://findicons.com/files/icons/977/rrze/22/sort_down.png" alt=""></a>
                    <a href="/?sort[checked]=asc"><img src="http://findicons.com/files/icons/977/rrze/22/sort_up.png" alt=""></a>
                    <hr>
                    status
                </th>
                {% if auth %}
                    <th>
                        edit
                    </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr style="{{ todo.checked == 1 ? 'background: green' : '' }}">
                        <th scope="row">{{ todo.id }}</th>
                        <td>{{ todo.user_name }}</td>
                        <td>{{ todo.email }}</td>
                        <td>{{ todo.text }}</td>
                        <td><img src="/uploads/{{ todo.photo }}" width="130px" alt=""></td>
                        <td>{{ todo.checked == 1 ? 'closed' : 'open' }}</td>
                        {% if auth %}
                            <td>
                                <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger">delete</a>
                                <a href="/todo/edit/{{ todo.id }}">edit</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for i in pages %}
                    <li class="page-item {{ i == currentPage ? 'disabled' : ''}}">
                        <a class="page-link" style="background-color: #212529"
                           href="/?page={{ i }}{{ sort ? sort : '' }}">
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div>
        {% include 'includes/todo_form.html.twig' %}
    </div>
{% endblock %}