{% extends "layout/main.html.twig" %}

{% block content %}
    <h1>Login</h1>

    <div>
        <form action="/login" method="post" >
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="login" placeholder="User name" required>
                    {% if errors['user_name'] is defined %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors['user_name'] }}
                        </div>
                    {% endif %}
                </div>
                <div class="col">
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                    {% if errors['email'] is defined %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors['email'] }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <input type="submit" value="Enter" class="btn btn-primary btn-block">
                </div>
            </div>
        </form>
    </div>
{% endblock %}