<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="http://getbootstrap.com/docs/4.0/examples/cover/cover.css">
</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">ToDo liST</h3>
                    <nav class="nav nav-masthead">
                        <a class="nav-link" href="/">Main</a>
                        {% if auth == false %}
                            <a class="nav-link" href="/login">Admin panel</a>
                        {% else %}
                            <a class="nav-link" href="/logout">exit</a>
                        {% endif %}
                    </nav>
                </div>
            </div>

            <div class="">
                {% block content %}{% endblock %}
            </div>

        </div>

    </div>

</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Todo preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-inverse table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>Text</th>
                        <th>photo</th>
                        <th>
                            status
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr style="{{ todo.checked == 1 ? 'background: green' : '' }}">
                            <th scope="row">?</th>
                            <td id="todo_name_user"></td>
                            <td id="todo_email"></td>
                            <td id="todo_text"></td>
                            <td id="todo_photo"></td>
                            <td>open</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js?" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js?" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js?" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script>
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function(theFile) {
                return function(e) {
                    // Render thumbnail.
                    $('#temp_photo').remove();
                    var span = document.createElement('span');
                    span.id = 'temp_photo';
                    span.innerHTML = ['<img class="thumb" width="130" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    document.getElementById('todo_photo').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('photo').addEventListener('change', handleFileSelect, false);

    $('#preview_todo').on('click', function(e){
        var name = $('input[name="Todo[user_name]"]').val();
        var email = $('input[name="Todo[email]"]').val();
        var text = $('input[name="Todo[text]"]').val();

        $('#todo_name_user').text(name);
        $('#todo_email').text(email);
        $('#todo_text').text(text);

    });

</script>
</body>
</html>