<form action="/todo/store" method="post" novalidate enctype="multipart/form-data" >
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" name="Todo[user_name]" placeholder="User name" required>
            {% if errors['user_name'] is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ errors['user_name'] }}
                </div>
            {% endif %}
        </div>
        <div class="col">
            <input type="text" class="form-control" name="Todo[email]" placeholder="email" required>
            {% if errors['email'] is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ errors['email'] }}
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col">
            <textarea name="Todo[text]" id="text" class="form-control" placeholder="Task text" required></textarea>
            {% if errors['text'] is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ errors['text'] }}
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col">
            <label class="custom-file">
                <input type="file" id="photo" name="Todo[photo]" class="custom-file-input" required>
                <span class="custom-file-control"></span>
            </label>
            {% if errors['photo'] is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ errors['photo'] }}
                </div>
            {% endif %}
        </div>
        <div class="col">
            <input type="button" value="Preview" id="preview_todo" data-toggle="modal" data-target="#exampleModal" class="btn btn-default btn-block">
        </div>
        <div class="col">
            <input type="submit" value="Add" class="btn btn-primary btn-block">
        </div>
    </div>
</form>